@import './plyr.css';

@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 62% 125%;
    font-display: block;
    src: url('../assets/font/archivo.woff2') format('woff2');
}

:root {
    --font: 'Archivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --primary-ui-color: hsl(0, 100%, 100%);
    --ui-display-color: hsl(0, 0%, 0%);
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: hsla(0, 100%, 100%, 50%);
}

::-moz-selection {
    background: hsla(0, 100%, 100%, 50%);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    color: var(--primary-ui-color);
    background: var(--ui-display-color);

    scrollbar-width: none;
    -ms-overflow-style: none;
    
    overscroll-behavior: none;
    -ms-scroll-chaining: chained;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-size-adjust: none;
    -webkit-text-size-adjust: none;

    -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0%);
}

body {
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;

    color: inherit;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    pointer-events: none;
}

.loader__progress_bar_container {
    position: relative;

    width: 100px;
    height: 2px;
}

.loader__progress_bar {
    position: absolute;

    width: 100%;
    height: 100%;
    
    background: var(--primary-ui-color);

    transform: scaleX(0);
    transform-origin: left;
}

.to_home {
    position: fixed;
    top: 25px;
    left: 50%;
    z-index: 2;

    width: calc(48px + 50px);
    height: calc(24px + 50px);
    padding: 25px 0 0 25px;
    
    transform: translateX(-50%);
}

.to_home__logo {
    width: 48px;
    height: 24px;
    
    fill: var(--primary-ui-color);
}

.menu {
    position: fixed;
    left: 50%;
    bottom: 25px;
    z-index: 2;

    display: block;
    
    width: calc(50px + 50px);
    height: calc(36px + 50px);
    padding: 25px 0 0 25px;
    
    transform: translate(-50%, 0);
}

.menu--open__ui_fragment {
    display: block;

    width: 50px;
    height: 3px;
    margin: 10px 0;
    
    background: var(--primary-ui-color);
}

.menu--close {
    padding: 0 0 0 25px;

    pointer-events: none;
}

.menu--close__container {
    position: relative;
    top: 47.5%;

    display: block;
    
    width: 50px;
    height: 3px;
}

.menu--close__container:nth-child(1) {
    transform: translateY(50%) rotate(45deg);
}

.menu--close__container:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.menu--close__ui_fragment {
    position: absolute;

    display: block;
    
    width: 100%;
    height: 100%;
    
    background: var(--primary-ui-color);
    
    transform: scaleX(0);
}

.menu--close__container:nth-child(1) .menu--close__ui_fragment {
    transform-origin: left;
}

.menu--close__container:nth-child(2) .menu--close__ui_fragment {
    transform-origin: right;
}

.gradient {
    position: fixed;
    z-index: 1;
    
    width: 100%;
    height: 15vh;
}

.gradient--ceil {
    top: 0;
    
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 100%) 0%, hsla(0, 0%, 0%, 0%) 100%);
}

.gradient--floor {
    bottom: 0;
    
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0%) 0%, hsla(0, 0%, 0%, 100%) 100%);
}

.scroll_layers,
.scroll_layers__video_layer,
.scroll_layers__video_id_layer {
    position: absolute;
    
    width: 100%;
    height: 100vh;
}

.scroll_layers__video_layer,
.scroll_layers__video_id_layer {
    display: flex;
    align-items: center;
}

.scroll_layers__video_layer {
    justify-content: center;

    perspective: 3000px;
}

.scroll_layers__video_id_layer {
    justify-content: left;
}

.scroll_layers__video {
    position: absolute;

    width: 100%;
    height: auto;

    pointer-events: none;
}

.scroll_layers__video_id {
    position: absolute;

    display: flex;
    align-items: center;

    width: 800px;
    height: 450px;
    margin: 0;

    font: 900 ultra-expanded 12.8rem var(--font);
}

@media (min-width: 360px) {
    .loader__progress_bar_container {
        width: 125px;
    }
}

@media (min-width: 768px) {
    .loader__progress_bar_container {
        width: 150px;
    }
    
    .to_home {
        left: 25px;
        
        transform: translateX(0);
    }
    
    .menu {
        top: 50%;
        left: unset;
        right: 25px;
        
        transform: translate(0, -50%);
    }
    
    .menu--close__container {
        top: 46.5%;
    }

    .scroll_layers__video_layer {
        perspective: 6000px;
    }

    .scroll_layers__video {
        width: 426px;
        height: 240px;
    }
}

@media (min-width: 1024px) {
    .to_home {
        top: 50px;
        left: 50px;
    }
    
    .menu {
        right: 50px;
    }

    .scroll_layers__video_layer {
        perspective: 3000px;
    }

    .scroll_layers__video {
        width: 640px;
        height: 360px;
    }
}

@media (min-width: 1280px) {
    .scroll_layers__video {
        width: 800px;
        height: 450px;
    }
}

@media (orientation: landscape) and (max-width: 740px) {
    .to_home {
        top: 10px;
    }

    .menu {
        bottom: 10px;
    }

    .scroll_layers__video {
        width: 320px;
        height: 180px;
    }
}